@use '../config/variable' as *;
@use '../config/mixin' as *;
@use '../components/cards/_card-trustedBy.scss' as *;

.trustedby{
    position: relative;
    background-color: $white;
    .swiper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__slider-thumbnail .swiper-slide {
        // width: 25%;
        // height: 100%;
        // opacity: 0.4;

        filter: grayscale(100%);
        transition: filter 0.15s, opacity 0.15s;
        padding: 46px 0px;
        cursor: pointer;
        display: flex;
        opacity: 0.5;
        min-width: 20%;
        max-width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slider-thumbnail .swiper-slide-thumb-active {
        opacity: 1;
        filter: none;
    }

    &__slider-thumbnail{
        margin-bottom: 100px;
    }

    &__title{
        font-weight: 500;
        color: #001E2B;
        font-size: 36px;
        line-height: 48px;
    }
    
    
    
}