@use '../config/variable' as *;
@use '../config/mixin' as *;
@use '../components/cards/_card-whous.scss' as *;
@use '../components/ui/_accordion-one.scss' as *;
.who-us{
    position: relative;
    background-color: $blue-800;
    &::before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 50%;
        background-color: $white;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 200px;
    }
    &__art-one{
        position: absolute;
        top: 0px;
        left: -15px
    }
    &__grid{
        @include d-grid();
    }
    &__content{
        grid-column: 2/12;
    }
    
}