@use '../config/variable' as *;
@use '../config/mixin' as *;
@use '../components/cards/_card-community.scss' as *;
.community{
    position: relative;
    background-color: $blue-800;
    &__art-one{
        position: absolute;
        bottom: 50px;
        right: 0px;
    }
    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__title{
        color: $white;
        font-family: 'Playfair Display', serif;
        font-size: 64px;
        padding: 0;
        margin: 0;
        line-height: 72px;
    }
    &__subtitle{
        color: #b8c4c2;
        font-size: 36px;
    }
    &__lists{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
}