@use '../config/variable' as *;
@use '../config/mixin' as *;

.platform{
    margin-top: -120px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-radius: 0px 120px 120px 120px;
        background-color: #001e2b;
    }
    &__inner{
        position: relative;
        z-index: 2;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
}