@use "../../config/_variable.scss" as *;
@use "../../config/_mixin.scss" as *;
.card-testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 327px;
    min-width: 50%;
    padding: 48px 48px 96px 48px;
    border-radius: 24px;
    border: 1px solid #001e2b;
    background: #001e2b;
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.13), 0px 26px 44px rgba(0, 30, 43, 0.12);
    
    
    &__body{

    }
    &__message{
        margin-bottom: 64px;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        color: $white;
    }
    &__footer{
        position: absolute;
        bottom: 48px;
    }
    &__messenger-name{
        font-size: 16px;
        line-height: 24px;
        color: $white;
    }
    &__messenger-company{
        color: #b8c4c2;
        font-style: italic;
    }
    &__messenger-profesi{
        margin: 0px;
        color: #b8c4c2;
        font-size: 16px;
    }
}