@use "../../config/variable" as *;

.btn-wrapper{
    margin-bottom: 32px;
}

.btn{
    display: inline-block;
    padding: 12px 32px ;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    border-radius: 6px;
    &:hover{
        box-shadow: none;
    }
    @media only screen and (max-width: 1199.98px) {
        padding: 8px 16px;
        font-size: 16px;
    }
}

.btn-simple{
    color: #001e2b;
    position: relative;
    &__arrow{
        position: absolute;
        width: 16px;
        top: 50%;
        left: calc(100% - 20px);
        transform: translateY(-50%);
        transition: 0.4s ease;

        &::before{
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            transform: translateY(-50%);
            width: 100%;
            height: 2px;
            background-color: #00684a;
        }
        &::after{
            content: "";
            position: absolute;
            transform: translateY(-50%);
            height: 2px;
            border: 2px solid #00684a;
            border-radius: 2px;
            width: 12px;
            position: absolute;
            border-top: none;
            border-left: none;
            height: 12px;
            transform: rotate(-45deg);
            right: 0;
            top: -6px;
        }
    }
    &:hover{
        color: #001e2b;
    }
    &:hover &__arrow{
        width: 50px;
    }

    &--white{
        @extend .btn-simple;
        color: $white;
        .btn-simple__arrow{
            &::before{
                background-color: #00ED64;
            }
            &::after{
                border: 2px solid #00ED64;
                border-top: none;
                border-left: none;
            }
        }
        &:hover{
            color: #00ED64 ;
        }
    }
}

.btn.btn-success{
    border-color: #00684A;
    background-color: #00ED64;
    color: #001E2B;
    transition: 0.4s ease;
    border-radius: 4px;
    &:hover{
        border-radius: 60px;
    }
}

.btn.btn-primary {
	background-color: $primary;
	border: none;
	border-radius: 0;
	padding: 13px 24px;
	box-shadow: inset 0px 0px 0px 0px $red-300;
	transition: box-shadow 0.4s ease-in-out;
	&:hover {
		box-shadow: inset 0px 0px 0px 1px $red-700,
			inset 0px -56px 0px $red-700;
	}

    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus{
        box-shadow: inset 0px 0px 0px 1px $red-300, inset 0px -56px 0px $red-300;
    }
}
.btn.btn-secondary{
    border-color: #001E2B;
    background-color:#001E2B ;
    color: $white;
    transition: 0.4s ease;
    border-radius: 4px;
    &:hover{
        border-radius: 60px;
    }
}

.btn-ripple {
    position: relative;
    display: inline-block;
    overflow: hidden;
    span {
        position: absolute;
        background: $white;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 50%;
        animation: ripple 1s linear infinite;
    }
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}




