@use "../config/_variable.scss" as *;

:root {
	--section-padding: 104px;
	
}

@media only screen and (max-width: 1399.98px) {
	:root {
		--section-padding: 80px;
		
	}
}

@media only screen and (max-width: 1199.98px) {
	:root {
		--section-padding: 60px;
	}
}

@media only screen and (max-width: 991.98px) {
	:root {
		--section-padding: 40px;
	}
}

/*-----------------------------------------
//////////// SECTION PADDING //////////////
-----------------------------------------*/
.section-padding {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	&--bottom {
		@extend .section-padding;
		padding-top: 0px;
		padding-bottom: var(--section-padding);
	}

	&--top {
		@extend .section-padding;
		padding-top: var(--section-padding);
		padding-bottom: 0px;
	}
}
/*-----------------------------------------
/////////////////////// SECTION PADDING END
-----------------------------------------*/

/*-----------------------------------------
////////////// SECTION TITLE //////////////
-----------------------------------------*/
.section-title-wrapper {
	position: relative;
	margin-bottom: 40px;
	z-index: 10;
}
.section-title {
	color: $white;
	font-family: 'Playfair Display', serif;
	font-size: 64px;
	padding: 0;
	margin: 0;
	line-height: 72px;
}

.section-subtitle{
	font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    color: #b8c4c2;
}

.section-content{
	font-size: 16px;
	line-height: 1.75;
}
/*-----------------------------------------
///////////////////////// SECTION TITLE END
-----------------------------------------*/
